extends layout

block content

    h1 #{title}
    
    hr
    form(method='POST')
        div.form-group
            label(for='username') Username (your email address):
            input#username.form-control(type='text', placeholder='Your email address' name='username' required value=(undefined===user ? '' : user.username))
        div.form-group
            label(for='password') Password:
            input#password.form-control(type='password', placeholder='Please enter your password' name='password' required autocomplete value='')
        div.form-group
            button.btn.btn-primary(type="submit") Log in

    if errors
        ul
        for error in errors
            li!= error.msg